<div class="container">
    <br /> 
    <h2>Contact Ricky's Rock</h2>
    <p>If you have a question feel free to contact us with the link below.</p>
        
    <contact email="123@123.com" content="Contact Us"></contact>
   
</div>
